body{
    background-color: #393E46;
    text-align: center;
    font-family: cursive;
   
    
}

.dice{
    display: inline-block;
    text-align: center;
    margin: 20px;

}


h1{
    font-size: 8rem;
    margin: 30px;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}

p{
    color: #4ECCA3;
    font-size: 2rem;
    margin: auto;
}

footer{
    color: #fff;
}